<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Contact Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App2023CS173">

        <activity
            android:name="com.example.myapplication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.cs173.myapplication.MainActivity" />
        <activity android:name="com.cs173.myapplication.AddEditContactActivity" />
        <activity android:name="com.cs173.myapplication.FullImageActivity" />

        <activity android:name="com.example.myapplication.RegistrationActivity" />
        <activity android:name="com.example.myapplication.ConfirmationActivity" />

    </application>

</manifest>
